<h1> <%= @the_user.username %> </h1>


<div>
  <dl>
    <dt>Private</dt>
    <dd>FALSE</dd>

    <dt>Followers</dt>
    <dd>
      <%= @the_user.received_follow_requests.count %>
      this needs to be fixed becuase it's just showing the total follow requests
      regardless of status'
 
      <div>
        <form action="/insert_followrequest" method="post">
         <input type="hidden" name="query_recipient_id" value="148">
           <button>
            Follow
            </button>
          </form>
      </div>
    </dd>

    <dt>Following</dt>
    <dd>
      NUMBER THAT THEY FOLLOW
    </dd>

  </dl>

</div>

<nav>
  <ul>
    <li>
      <a href="/users/:user_id">Profile</a>
    </li>
    <li>
      <a href="/users/:user_id/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/:user_id/feed">Feed</a>
    </li>
    <li>
      <a href="/users/:user_id/discover">Discover</a>
    </li>
  </ul>
</nav>